# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
env/
venv/
ENV/

# Environment Variables
.env

# Django
db.sqlite3

# Media Files
media/

# Static Files (optional if generated)
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db