{% extends 'base.html' %}

{% block content %}

<div class="card p-4">

    <h2>AI Chat With Notes</h2>

    <form method="POST">

        {% csrf_token %}

        <label>Select Notes</label>

        <select
            name="doc_id"
            class="form-control"
        >

            {% for doc in documents %}

            <option value="{{ doc.id }}">
                {{ doc.title }}
            </option>

            {% endfor %}

        </select>

        <br>

        <label>Ask Question</label>

        <input
            type="text"
            name="question"
            class="form-control"
            placeholder="Ask anything from notes..."
            required
        >

        <br>

        <button
            type="submit"
            class="btn btn-success"
        >
            Ask AI
        </button>

    </form>

    {% if answer %}

    <hr>

    <h4>AI Answer</h4>

    <div class="alert alert-info">

        {{ answer }}

    </div>

    {% endif %}

</div>

{% endblock %}