{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Student Dashboard</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card p-4 text-center">

            <h3>📄</h3>

            <h5>Upload Notes</h5>

            <a href="/upload/" class="btn btn-primary mt-2">
                Open
            </a>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4 text-center">

            <h3>📝</h3>

            <h5>Generate Summary</h5>

            <a href="/summary/" class="btn btn-success mt-2">
                Open
            </a>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4 text-center">

            <h3>🎯</h3>

            <h5>AI Quiz</h5>

            <a href="/quiz/" class="btn btn-warning mt-2">
                Open
            </a>

        </div>

    </div>

</div>

{% endblock %}