{% extends 'base.html' %}

{% block content %}

<div class="card p-4">

    <h2>AI Generated Quiz</h2>

    <hr>

    {% for doc in documents %}

        {% if doc.quiz %}

            <h4>{{ doc.title }}</h4>

            <pre style="white-space: pre-wrap;">
{{ doc.quiz }}
            </pre>

            <form method="POST">

                {% csrf_token %}

                <label>Enter Your Score (Out of 5):</label>

                <input
                    type="number"
                    name="score"
                    min="0"
                    max="5"
                    class="form-control"
                    required
                >

                <br>

                <button
                    type="submit"
                    class="btn btn-primary"
                >
                    Submit Score
                </button>

            </form>

            {% if score %}

            <div class="alert alert-success mt-3">

                <h4>Your Score: {{ score }}/5</h4>

            </div>

            {% endif %}

            <hr>

        {% endif %}

    {% empty %}

        <p>No quiz generated yet.</p>

    {% endfor %}

</div>

{% endblock %}