{% extends 'base.html' %}

{% block content %}

<div class="card p-4">

    <h2>Upload PDF Notes</h2>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-success">
            Upload & Generate Summary
        </button>

    </form>

</div>

<br>

<div class="card p-4">

    <h2>Uploaded Documents</h2>

    <hr>

    {% for doc in documents %}

        <h4>{{ doc.title }}</h4>

        {% if doc.summary %}
        <p>{{ doc.summary }}</p>
    {% else %}
        <p><strong>Summary not available.</strong></p>
    {% endif %}

        <hr>

    {% empty %}

        <p>No documents uploaded yet.</p>

    {% endfor %}

</div>

{% endblock %}